
body {
  background-color: #eceff1 ;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.showCase{
  width: 100%;
  height: 400px;
  background: url('../img/showcase.jpg') no-repeat center center/cover;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  color: #fff;
  
}   

.showCase a{
  margin: 10px;
}

.showCase h2,
.showCase h3,
.showCase p{
  margin-bottom: 10px;
}

.imgCard{
  padding: 60px;
  transition: 0.25s;
}

.imgCard:hover{
  transform: scale(1.2);
}

.imgSocial{
  width: 40px;
}
.img-msj{
  width: 75%;
}
.imgApp{
  contain: paint;
  transition: 0.25s;
}

.textoPresent{
  font-size: 18px;
  text-align: justify;
  text-indent: 20px;
  line-height: 1.8;
}

.textoPresentTitulo{
  font-size: 22px;
  font-weight: bold;
}

.timeline h2{
  font-size: 35px;
}
.timeline h3{
  font-size: 33px;
}
.timeline p{
  font-size: 20px;
}
.timeline .content{
  background-color: white;
  padding: 15px;
  margin: 20px;
  border: #2632383a solid 1px;
  border-radius: 3px;
  box-shadow: 1px 1px 15px #26323844;
}